* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
/* CONTAINER */
.container{
    max-width:120rem;
    margin:0 auto;
    width:100%;
    padding:1.5rem;
}
/* HEADER */
.header{
    background:transparent;
    position:fixed;
    width:100%;
    margin-top:5rem;
}
.header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header__nav img{
    display:none;
}
.header__nav ul{
    display:flex;
}
.header__nav ul li{
    padding:1.5rem 2rem;
}
.header__nav ul li:hover{
    background:#ffffff;
}
.header__nav ul li.active a{
border-bottom:3px solid #fb4d3d; 
}
.header__nav ul li a{
    font-size:2rem;
    font-weight:600;
    color:#ffffff;
    padding:1rem 0;
}
.header__nav ul li:hover a{
    color:#fb4d3d;
}
.burgir__menu{
    display:none;
}
.burgir__menu span{
    width:2.5rem;
    height:.3rem;
    background-color:#ffffff;
    display:block;
    border-radius:5rem;
    transition:.5s ease;
}
.burgir__menu.open span:first-child{
    transform:translate(0,10px) rotate(225deg) ;
    transition:.5s ease;
}
.burgir__menu.open span:nth-child(2){
    opacity:0;
    transition:.5s ease;
}
.burgir__menu.open span:last-child{
    transform:translate(0,-6px) rotate(-225deg) ;
    transition:.5s ease;
}
@media screen and (max-width:500px){
    .header{
        background:#2b2b2b;
        margin-top:0;
    }
    .header__nav{
        position:absolute;
        background:#2b2b2b;
        right:-100rem;
        top:0;
        width:100%;
        height:100vh;
        padding-top:15rem;
        transition:.5s ease;
    }
    .header__nav.open{
        right:0;
        transition:.5s ease;
    }
    .burgir__menu{
        display:flex;
        flex-direction:column;
        gap:.5rem;
        z-index:999;
    }
    .header__nav ul{
        display:flex;
        flex-direction:column;
        text-align:center;
        
    }
    .header__nav ul li{
        width:20rem;
        margin:0 auto;
    }
    .header__nav ul li a{
        font-size:3rem;
    }
    .header__nav img{
        display:block;
        width:fit-content;
        margin:0 auto;
        margin-bottom:5rem;
    }
}
/* BANNER */
.banner{
    background-image:url("./img/banner-img.png");
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    text-align:center;
}
.banner__content h1{
    font-size:10rem;
    color:#ffffff;
    max-width:80rem;
    margin:0 auto;
    margin-bottom:5rem;
    font-weight:600;
}
.banner__btn{
    display:flex;   
    gap:5rem;
    justify-content:center;
}

/* SERVICES */
.services{
    padding:5rem 0;
    background:#ffffff;
}
.services__title{
    margin-bottom:8rem;
}
.services__title h2{
    font-size:5rem;
    font-weight:600;
    color:#fb4d3d;
}
.services__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:5rem;
}

.services__card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding:3rem 3rem 0 3rem;
    height:450px;
    border-top-left-radius:2rem;
    border-top-right-radius:2rem;
    position:relative;
}
.services__card h4{
    text-align:center;
    font-size:2.5rem;
    font-weight:600;
    margin-bottom:3rem;
}
.services__card p{
    font-size:1.8rem;
    text-align:justify;
}
.services__btn a{
    color:#fb4d3d;
    border-top:2px solid #fb4d3d;
    padding:2rem 0;
    position:absolute;
    bottom:0;
    left:10%;
    width:80%;
    text-align:center;
}
@media screen and (max-width:500px){
    .banner h1{
        font-size:5.5rem;
    }
    .banner__btn{
        display:flex;
        flex-direction:column;
        gap:2rem:
    }
    .banner__btn a{
        margin:0 auto;
        width:90%;
    }
}


/* SERVICES BTN */
.services__card:hover{
    scale:1.1;
    transition:.5s ease;
}
.services__card:hover a{
    left:0;
    width:100%;
    color:#ffffff;
    background:#fb4d3d;
}
/* REPEATABLE PATTERNS */
.btn{
    display:inline-block;
    padding:1.5rem 2rem;
    color:#ffffff;
    font-weight:600;
    border:2px solid transparent;
    border-radius:5rem;
    width:25rem;
    font-size:2rem;
    transition:.5s ease; 
}
.btn.bg--transparent{
    border:2px solid #ffffff;
}
.btn.bg--transparent:hover{
    border:2px solid transparent;
    background:#fb4d3d;
    scale:1.1;
    transition:.5s ease;                                                                 
}
.btn.bg--primary{
    border:2px;
    background:#fb4d3d; 
}
.btn.bg--primary:hover{
    border:2px solid #ffffff;
    background:transparent;
    scale:1.1;
    transition:.5s ease;  
}

@media screen and (max-width:500px){
    .services__title{
        text-align:center;
    }
    .services__wrapper{
        display:flex;
        flex-direction:column;
        margin:4rem;
        gap:7rem;
    }
}
